@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;*/
  font-family: 'Noto Sans JP', sans-serif;
  background-image: linear-gradient(to left, #f2f2f2, #d9d9d9, #bfbfbf, #d9d9d9, #f2f2f2);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.ABBA {
  border-radius: 50%;
}


.aboutPage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}



