
.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ceb3d5;
  background-image: url("https://images.unsplash.com/photo-1606207964297-ce26368e6968?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  background-position: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  position: fixed;
}


.title a {
  color: #0070f3;
  text-decoration: none;
  
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
  
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  
}

.title,
.description {
  text-align: center;
  text-shadow: 2px 2px #001a66;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
  text-shadow: 2px 2px #001a66;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  text-shadow: 1px 1px #001a66;

}

.card:hover,
.card:focus,
.card:active {
  color: white;
  border-color: white;
  background-color: rgba(51, 153, 255,0.5);
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
